body {
 text-align: center;
}

input {
  font-size: 1.2rem;
  padding: .25em .5em;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1em;
}

button {
  font-size: 1.2rem;
  padding: .25em .5em;
  border-radius: 10px;
  margin-right: 5px;
}

span {
  font-size: 2rem;
  margin-right: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}